.card {
  max-width: 1000px;
  /* ancho máximo del card */
  margin: 0 auto;
  /* centra el card horizontalmente */
  border-radius: 1px;
  /* bordes más redondeados */
}

.list-group-item {
  font-size: 15px;
  padding: 10px 15px;
}

.titulo-alumno {
  color: #333;
  text-align: center;
  /* Si no quieres que quede centrado */
}